<section class="header">
<nav class="nav-bar">
  <ul class= "nav-ul">
    <li><a href="#">Serices</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About us</a></li>
  </ul>
</nav> 
<div class="banner">
    <h1> Blog </h1>
</div>
</section>